.container {
    width: 100vw;
    height: 100vh;
    background: #232B2B;
}

.intro {
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: normal;
    min-height: 100vh;

    .intro_text {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        color: white;

        .name {
            position: relative;
            font-size: 85px;
            line-height: 95px;
        }
        .description {
            position: relative;
            font-size: 35px;
            line-height: 40px;
            padding: 15px;
        }

        .contact_container {
            padding-top: 10px;
            
            .contact_button {
                border-radius: 20px;
                background-color: #F96666;
                color: white;
                border-color: #F96666;
            }
        }
    }

}