.container {
    // Primary variables
    --main-width: 75vw;
    --title-font-size: 60px;

    width: 100vw;
    height: 100vh;
    background: #232b2b;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

.title {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: var(--title-font-size);
    height: 10vh;
    width: var(--main-width);
    margin-top: 100px;
}

.description {
    border: 4px solid; // Remove when content is added
    border-color: white; // Remove when content is added
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 5vh;
    width: var(--main-width);
}

.content {
    border: 4px solid; // Remove when content is added
    border-color: white; // Remove when content is added
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 50vh;
    width: var(--main-width);
}
