// :root {
//     --shadow-color: 180deg 17% 5%;
//     --shadow-elevation-low: -0.2px 0.2px 0.3px hsl(var(--shadow-color) / 0.62),
//         -0.3px 0.2px 0.3px -1.9px hsl(var(--shadow-color) / 0.48),
//         -0.9px 0.7px 1.1px -3.7px hsl(var(--shadow-color) / 0.35);
//     --shadow-elevation-medium: -0.2px 0.2px 0.3px hsl(var(--shadow-color) / 0.52),
//         -0.4px 0.3px 0.5px -0.9px hsl(var(--shadow-color) / 0.45),
//         -0.9px 0.7px 1.1px -1.9px hsl(var(--shadow-color) / 0.38),
//         -2.1px 1.6px 2.5px -2.8px hsl(var(--shadow-color) / 0.31),
//         -4.4px 3.4px 5.2px -3.7px hsl(var(--shadow-color) / 0.24);
//     --shadow-elevation-high: -0.2px 0.2px 0.3px hsl(var(--shadow-color) / 0.54),
//         -0.7px 0.6px 0.9px -0.5px hsl(var(--shadow-color) / 0.5),
//         -1.4px 1.1px 1.7px -0.9px hsl(var(--shadow-color) / 0.46),
//         -2.5px 1.9px 2.9px -1.4px hsl(var(--shadow-color) / 0.42),
//         -4.2px 3.3px 5px -1.9px hsl(var(--shadow-color) / 0.38), -7px 5.5px 8.3px -2.3px hsl(var(--shadow-color) / 0.34),
//         -11px 8.6px 13.1px -2.8px hsl(var(--shadow-color) / 0.3),
//         -16.4px 12.9px 19.6px -3.3px hsl(var(--shadow-color) / 0.26),
//         -23.7px 18.6px 28.2px -3.7px hsl(var(--shadow-color) / 0.22);
// }
.container {
    // Primary variables
    --main-dimension: 10vw;
    --title-font-size: 60px;

    width: var(--main-dimension);
    height: var(--main-dimension);
    background: white;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
// color: #232B2B;
// box-shadow: var(--shadow-elevation-high);
