.navigation_appbar {
    position: static;

    .header_toolbar { 
        background-color: #232B2B;
        position: absolute;
        right: 0;
        padding-right: 10px;
        
        .nav_link { 
            text-align: center;
        }
    }
}
